.center-diamond {
    background: aqua;
}
.center-diamond::before{
    content: "";
        width: 6px;
        height: 6px;
        background: aqua;
        display: inline-block;
        border: 2px solid aqua;
        position: absolute;
        top: -5px;
        left: 50%;
        margin: 0 0 0 -3px;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
}