@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    cursor: none;
    background-color: black;
    overflow-x: hidden;
}

a,
input,
textarea,
button {
    cursor: none;
    /* Ensure the cursor doesn't change */
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter";
}